In [60]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

In [61]:
results = pd.read_csv('results.csv')
shootouts = pd.read_csv('shootouts.csv')
goalscorers = pd.read_csv('goalscorers.csv')
print(results.columns)
print(shootouts.columns)
print(goalscorers.columns)

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')
Index(['date', 'home_team', 'away_team', 'winner', 'first_shooter'], dtype='object')
Index(['date', 'home_team', 'away_team', 'team', 'scorer', 'minute',
       'own_goal', 'penalty'],
      dtype='object')

In [62]:
print(results.head())

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False

In [63]:
results.shape

(48335, 9)

In [64]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48335 entries, 0 to 48334
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        48335 non-null  object
 1   home_team   48335 non-null  object
 2   away_team   48335 non-null  object
 3   home_score  48335 non-null  int64
 4   away_score  48335 non-null  int64
 5   tournament  48335 non-null  object
 6   city        48335 non-null  object
 7   country     48335 non-null  object
 8   neutral     48335 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB

In [65]:
results['date'] = pd.to_datetime(results['date'], format='%Y-%m-%d')
#results['year'] = results['date'].dt.year
results.date.head()

0   1872-11-30
1   1873-03-08
2   1874-03-07
3   1875-03-06
4   1876-03-04
Name: date, dtype: datetime64[ns]

In [66]:
conn = sqlite3.connect('your_database.db')
results.to_sql('results', conn, if_exists='replace', index=False)
shootouts.to_sql('shootouts', conn, if_exists='replace', index=False)


results_join = """SELECT *
FROM results
LEFT JOIN shootouts
ON results.date = shootouts.date;
"""

df = pd.read_sql_query(results_join, conn)
print(df.head())
conn.close()

                  date home_team away_team  home_score  away_score tournament  \
0  1872-11-30 00:00:00  Scotland   England           0           0   Friendly
1  1873-03-08 00:00:00   England  Scotland           4           2   Friendly
2  1874-03-07 00:00:00  Scotland   England           2           1   Friendly
3  1875-03-06 00:00:00   England  Scotland           2           2   Friendly
4  1876-03-04 00:00:00  Scotland   England           3           0   Friendly

      city   country  neutral  date home_team away_team winner first_shooter
0  Glasgow  Scotland        0  None      None      None   None          None
1   London   England        0  None      None      None   None          None
2  Glasgow  Scotland        0  None      None      None   None          None
3   London   England        0  None      None      None   None          None
4  Glasgow  Scotland        0  None      None      None   None          None

In [67]:
print(df.tail(15))

                      date     home_team    away_team  home_score  away_score  \
48320  2025-06-10 00:00:00   South Korea       Kuwait           4           0
48321  2025-06-10 00:00:00        Jordan         Iraq           0           1
48322  2025-06-10 00:00:00     Palestine         Oman           1           1
48323  2025-06-10 00:00:00      China PR      Bahrain           1           0
48324  2025-06-10 00:00:00         Japan    Indonesia           6           0
48325  2025-06-10 00:00:00  Saudi Arabia    Australia           1           2
48326  2025-06-10 00:00:00   Netherlands        Malta           8           0
48327  2025-06-10 00:00:00       Finland       Poland           2           1
48328  2025-06-10 00:00:00    San Marino      Austria           0           4
48329  2025-06-10 00:00:00       Romania       Cyprus           2           0
48330  2025-06-10 00:00:00        Serbia      Andorra           3           0
48331  2025-06-10 00:00:00        Latvia      Albania           1           1
48332  2025-06-10 00:00:00   New Zealand      Ukraine           1           2
48333  2025-06-10 00:00:00        Canada  Ivory Coast           0           0
48334  2025-06-10 00:00:00       Belarus       Russia           1           4

                         tournament        city       country  neutral  date  \
48320  FIFA World Cup qualification       Seoul   South Korea        0  None
48321  FIFA World Cup qualification       Amman        Jordan        0  None
48322  FIFA World Cup qualification       Amman        Jordan        1  None
48323  FIFA World Cup qualification   Chongqing      China PR        0  None
48324  FIFA World Cup qualification       Suita         Japan        0  None
48325  FIFA World Cup qualification      Jeddah  Saudi Arabia        0  None
48326  FIFA World Cup qualification   Groningen   Netherlands        0  None
48327  FIFA World Cup qualification    Helsinki       Finland        0  None
48328  FIFA World Cup qualification  Serravalle    San Marino        0  None
48329  FIFA World Cup qualification   Bucharest       Romania        0  None
48330  FIFA World Cup qualification    Leskovac        Serbia        0  None
48331  FIFA World Cup qualification        Riga        Latvia        0  None
48332               Canadian Shield     Toronto        Canada        1  None
48333               Canadian Shield     Toronto        Canada        0  None
48334                      Friendly       Minsk       Belarus        0  None

      home_team away_team winner first_shooter
48320      None      None   None          None
48321      None      None   None          None
48322      None      None   None          None
48323      None      None   None          None
48324      None      None   None          None
48325      None      None   None          None
48326      None      None   None          None
48327      None      None   None          None
48328      None      None   None          None
48329      None      None   None          None
48330      None      None   None          None
48331      None      None   None          None
48332      None      None   None          None
48333      None      None   None          None
48334      None      None   None          None

In [ ]:
# Create a new SQLite connection and dataframe using the results and shootouts tables with only matches from FIFA World Cup matches.
conn = sqlite3.connect('your_database.db')
results.to_sql('results', conn, if_exists='replace', index=False)
shootouts.to_sql('shootouts', conn, if_exists='replace', index=False)


results_WC = """SELECT *
FROM results
LEFT JOIN shootouts
ON results.date = shootouts.date
WHERE results.tournament = 'FIFA World Cup';
"""

df_results_WC = pd.read_sql_query(results_WC, conn)
print(df_results_WC.head())

conn.close()

                  date  home_team      away_team  home_score  away_score  \
0  1930-07-13 00:00:00    Belgium  United States           0           3
1  1930-07-13 00:00:00     France         Mexico           4           1
2  1930-07-14 00:00:00     Brazil     Yugoslavia           1           2
3  1930-07-14 00:00:00       Peru        Romania           1           3
4  1930-07-15 00:00:00  Argentina         France           1           0

       tournament        city  country  neutral  date home_team away_team  \
0  FIFA World Cup  Montevideo  Uruguay        1  None      None      None
1  FIFA World Cup  Montevideo  Uruguay        1  None      None      None
2  FIFA World Cup  Montevideo  Uruguay        1  None      None      None
3  FIFA World Cup  Montevideo  Uruguay        1  None      None      None
4  FIFA World Cup  Montevideo  Uruguay        1  None      None      None

  winner first_shooter
0   None          None
1   None          None
2   None          None
3   None          None
4   None          None